*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.logo img{
    width: 150px;
    margin-left: -15px;
    margin-top: -10px;
    margin-right: 0px;
}
.active{
    color: #f36060 !important;
  text-shadow: 0 0 3vw #f40a0a;
}
.banner{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: #8d8c8d;
}
.app-text{
    margin: 0 auto;
    max-width: 90%;
}
.app-text h1{
    font-size: 125px;
    margin-bottom: 20px;
}
.app-text h2{
    font-size: 85px;
    margin-bottom: 20px;
}
.app-text h3{
    font-size: 85px;
    margin-bottom: 20px;
}
.app-text p1{
    width: 650px;
    font-size: 15px;
    margin: 30px 0 40px;
    line-height: 25px;
    color: #919191

}
a { color:whitesmoke } /* Globally */
a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:rgb(92, 92, 92); }
a:hover, a:active { text-decoration: none; color:rgb(85, 84, 84) }


.glow {
  color: #d3d3d3;
  line-height: 9vw;
  text-shadow: 0 0 0.7vw #2e2c2c;
}
